.header {
  position: fixed;
  z-index: 100;

  width: 100%;
  padding: 3.7rem 2rem 3.1rem 2rem;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);

  color: #fff;
  font-size: 2.4rem;

  @media (max-width: 414px) {
    padding: 2rem;
    width: 37.4rem;
  }
  &__container {
    width: 134rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 414px) {
      width: 100%;
    }
  }
  &__logo {
    @media (max-width: 414px) {
      width: 11.85rem;
      height: 2rem;
    }
  }
  &__phone {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
  }
}
