.contentBlock {
  &:nth-child(2) {
    margin-top: 30rem;
    @media (max-width: 414px) {
        margin-top: 13.2rem;
      }
  }
  @media (max-width: 414px) {
    margin-top: 7rem;
    padding: 0 2rem;
  }
}
